{% extends 'base.html' %}

{% block title%} 
doctors
{% endblock %}

{% block content %} 
<div class="row container mt-5 ">
{% for d in doc %}

    <div class="card col-lg-4  text-center">
        <div class="text-center">
            <img  src="{{d.doc_img.url}}" class="card-img-top text-center" style="width: 300px; height: 300px;" alt="...">
        </div>
        
        <div class="card-body">
            <h5 class="card-title">{{d.doc_name}}</h5>
            <p class="card-text">{{d.doc_spec}}</p>
            <h6>{{d.dep_name}}</h6>
        </div>
    </div>

    
{% endfor %}
</div>

{% endblock %}